<% content_for(:title, t('landing.about.page_title')) %>
<% content_for(:description, t('landing.about.page_description')) %>
<div class="flex justify-center h-60 mb-16 md:mb-28 lg:mb-40" style="background-color: #020101">
  <%= image_tag('workshop.jpg', alt: t('landing.about.workshop_alt'), class: "pt-20 w-fit h-fit", style: "filter: brightness(40%);") %>
</div>

<div class="grid pt-20 md:px-20 lg:px-56 mx-auto place-content-center">
  <h1 class="place-self-center text-4xl text-red-600 font-bold text-center">
    <%= t('landing.about.title') %>
  </h1>

  <p class="pt-12 text-justify">
    <%= t('landing.about.description_1') %>
  </p>

  <p class="pt-10 text-justify">
    <%= t('landing.about.description_2') %>
  </p>

  <p class="pt-10 text-justify">
    <%= t('landing.about.description_3') %>
  </p>
</div>