<div class="flex justify-center pt-16 ">
  <div class="card md:w-1/2 bg:w-1/2 bg-base-100 shadow-xl">
    <figure>
      <%= image_tag 'sign_up_karate.png' %>
    </figure>
    <div class="card-body">
      <h2 class="card-title"><%= t('devise.views.sessions.new.title') %></h2>
      <% if @turnstile_error %>
        <div class="alert alert-error mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>
          <span><%= @turnstile_error %></span>
        </div>
      <% end %>

      <%= simple_form_for(resource, as: resource_name,
                          url: session_path(resource_name), html: { id: 'new_user' }) do |f| %>
        <%= f.input :email, placeholder: t('devise.views.sessions.new.email_placeholder'), label: t('devise.views.sessions.new.email_label'),
                    input_html: { class: 'input-bordered w-full', autofocus: true, autocomplete: 'email' } %>

        <%= f.input :password, placeholder: t('devise.views.sessions.new.password_placeholder'), label: t('devise.views.sessions.new.password_label'),
                    input_html: { class: 'input-bordered w-full' } %>



        <%= render "shared/cloudflare_turnstile" %>


        <div class="card-actions justify-end pt-8">
          <%= f.button :button, t('devise.views.sessions.new.submit_button'),
                       class: 'btn btn-primary
              disabled:cursor-not-allowed
              disabled:bg-gray-200
              disabled:text-gray-400
              disabled:border-gray-300
              disabled:shadow-none', disabled: true
          %>
        </div>
      <% end %>

      <div class="divider"></div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
